@import '~antd/dist/antd.css';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #bdbdbd #F3F5F9;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.first-plan-object {
  z-index: 6000;
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100%;
}


.ant-layout {
  height: 100%;
  background-color: #FAFAFC;
}

/* Селектор*/

.ant-select {
  height: 100%;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {

  width: 100%;
  max-height: 52px;
  height: 100%;
  /* height: 52px !important; */
  background: #F3F5F9;
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.002em;
  color: #444656;
  display: flex;
  align-items: center;
  border: none;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  display: flex;
  align-items: center;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  height: 100%;
  position: inherit
}



.ant-select-dropdown {
  background: #F3F5F9;
  border-radius: 15px;
  padding: 0;
}

.ant-select-item {
  cursor: pointer;
  padding: 14px 16px 14px 24px;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.002em;
  color: #444656;
  transition: all 0.5s ease;
}

.ant-select-item:hover {
  background: #444656;
  border-radius: 15px;
  color: #F3F5F9;
}


/* Ячейки */
.cell__container {
  background-color: #FAFAFC;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cell__container .cell__header, .cell__container .cell__wrapper {
  padding: 8px 16px;
}

.cell__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
}

.cell__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
}

.booked-item {
  cursor: pointer;
}

.booked-item__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  margin: 0;
  letter-spacing: -0.41px;
  text-transform: uppercase;
  color: #050411;
}

.booked-item__payment-status {
  border-radius: 25px;
  padding: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.002em;
}

/*Календарь*/

td {
  padding: 0;
}



.date-picker-input {
  background: #F3F5F9;
  border-radius: 15px;
  border: none;
  height: 52px;
}

.ant-picker-input {
  flex-direction: row-reverse;
  gap: 18px;
}

.date-picker-input input {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.002em;
  color: #444656;
}

.ant-picker-panel-container {
  background: #F3F5F9;
  border-radius: 15px;
  padding: 24px;
  width: 538px;
  height: 373px;
}

.ant-picker-footer {
  width: auto;
  min-width: fit-content;
  flex-grow: 3;
}


.ant-picker-panel {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border: none;
}

.ant-picker-date-panel {
  width: auto;
  height: 100%;
  flex-grow: 2.5;
}

.ant-picker-date-panel * {
  padding: 0;
  margin: 0;
}

.ant-picker-date-panel .ant-picker-body {
  padding: 0;
  height: 100%;
}

.ant-picker-header-view {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #596982;
}

.ant-picker-content {
  width: 100% !important;
  height: 100%;
  margin: 0;
  table-layout: auto
}

.ant-picker-cell {
  color: #A0A9B7;
}

.ant-picker-cell::before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  transform: translateY(-50%);
  transition: all 0.3s;
  content: '';
}

.ant-picker-cell-in-view {
  color: #12284C;
}

.nav-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.nav-date {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #444656;
  cursor: pointer;
  touch-action: manipulation;
}

.nav-date.active {
  color: #30A5D1;
}

.date-cell {
  height: 100%;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-cell.active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #30A5D1;
  border-radius: 4px;
  color: #F3F5F9;
}

/*Таблица*/

.ant-table-thead{
  /* position: sticky; */
}

.room-name {
  color: #000000 !important;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.002em;
  padding: 5px;
}

.glasses-count {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.013em;
  color: #8b929d;
}

.ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table,
.ant-table.ant-table-bordered>.ant-table-container {
  border: none;
}


.ant-table-thead>tr>th,
.ant-table-tbody>tr>td,
.ant-table tfoot>tr>th,
.ant-table tfoot>tr>td {
  position: relative;
  padding: 0;
}


/* --Ячейки */
.table__cell {
  height: 100%;
}

.ant-table-cell{
  height: fit-content !important;
}

.table__cell.selectable {
  background-color: #e9ffef;
}

.table__cell.unselectable {
  /* background-color: #888faa; */
}

.table__cell.unselectable--idle {
  background-color: #ededed;
  opacity: 0.4
}

.table__cell.selected {
  background-color: #FFE9EF;
}


.ant-table-thead>tr>th {
  padding: 20px 0px;
}


.ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>thead>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>thead>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>thead>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>thead>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tbody>tr>td,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tbody>tr>td,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tbody>tr>td,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tbody>tr>td,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tfoot>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tfoot>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tfoot>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tfoot>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tfoot>tr>td,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tfoot>tr>td,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tfoot>tr>td,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tfoot>tr>td .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>thead>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>thead>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>thead>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>thead>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tbody>tr>td,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tbody>tr>td,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tbody>tr>td,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tbody>tr>td,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tfoot>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tfoot>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tfoot>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tfoot>tr>th,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tfoot>tr>td,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tfoot>tr>td,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tfoot>tr>td,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tfoot>tr>td .ant-table-tbody>tr>td .ant-table-thead>tr>th .ant-table-tbody>tr>td {
  border-right: 1px solid #DCDEE6;
  border-collapse: collapse;
  background-color: #FAFAFC;
}


.ant-table-thead>tr>th {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.002em;
  color: #8A929E;
  text-align: center;
}

.ant-table-thead>tr>th:first-child {
  color: #000000 !important;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.002em;
  /* padding: 5px; */
}

.ant-table-measure-row {
  display: none;
}


.ant-table-summary>tr>td {
  background-color: #F3F5F9 !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.41px;
  text-transform: uppercase;
  padding: 11px 15px !important;
  color: #050411;
}

.ant-table-summary>tr>td:first-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-transform: none;
  text-align: center;
}

/* Popover */

/*Переопределени стилей wrapper*/

.ant-popover-inner {
  min-width: 348px;
  background: #FFFFFF;
  /* border: 1px solid #F091AA; */
  box-shadow: 0px 0px 30px rgba(38, 21, 81, 0.25);
  border-radius: 15px;
}

.ant-popover-inner-content {
  padding: 24px;
}

.popover__section {
  margin-bottom: 30px;
  max-width: 300px;
  align-items: flex-start;
}

.popover__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.002em;
  color: #1F2032;
}

.popover__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.002em;
  color: #8A929E;
}

.payment-status {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.002em;
}

.payment-status.paid {
  color: #65BD79;
}

.payment-status.notpaid {
  color: #EE6E7E;
}

/*Общие*/
.default-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.002em;
  text-align: center;
  color: #FFFFFF;
  padding: 0px 32px;
  height: 46px;
  background: linear-gradient(90deg, #36C0E7 6.68%, #4B51EA 84.84%, #4B51EA 87.36%);
  border-radius: 15px;
}

/* -------------------------------SIDER--------------------------- */
.creating-sider {
  background-color: #FFFFFF;
}

.sider-content-wrapper {
  padding: 64px 50px;
}

/* ---SIDER-FORM----- */
.ant-form-vertical .ant-form-item-label,
.ant-col-24.ant-form-item-label,
.ant-col-xl-24.ant-form-item-label {
  padding: 0;
}

.order-id {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 180%;
  letter-spacing: 0.002em;
  color: #1F2032;
}

.ant-form-item {
  margin-bottom: 10px;
}

.creation-form-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.002em;
  color: #444656;
  ;
  margin-bottom: 10px;
}


/* ---INPUT------ */
.default-input {
  border-radius: 15px;
  padding: 11px 16px;
  background-color: #F3F5F9;
}

.default-input.ant-input-status-error {
  background-color: rgba(252, 91, 86, 0.1);
  border: 2px solid #FC5B56;
  color: #FC5B56;
}

.default-input:hover,
.default-input:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #F3F5F9;
}

.default-input:focus,
.ant-input-focused {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
  border-right-width: 1px;
}

.default-input::selection {
  border: 2px solid #2F80ED;
  background: inherit;
}

/* -----EMPLOYEE INPUT */

.employee-input::placeholder {
  color: #2F80ED;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.002em;
}

/* -----BONUS-SLIDER */
.bonus-slider .ant-slider-handle {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -25%) !important;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #36C0E7 6.68%, #4B51EA 84.84%, #4B51EA 87.36%) border-box;
  border-radius: 50em;
  border: 3px solid transparent;
}

.bonus-slider .ant-slider-rail {
  background: linear-gradient(90deg, rgba(54, 192, 231, 0.5) 6.68%, rgba(75, 81, 234, 0.5) 84.84%, rgba(75, 81, 234, 0.5) 87.36%);
  border-radius: 5px;
}

/* ----BONUS-CHECKBOX----- */
.bonus-checkbox:hover * {
  border: none
}

.bonus-checkbox .ant-checkbox-inner {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #36C0E7 6.68%, #4B51EA 84.84%, #4B51EA 87.36%) border-box;
  border-radius: 50em;
  border: 3px solid transparent;
}

.bonus-checkbox .ant-checkbox-wrapper.ant-checkbox-wrapper-in-form-item input[type='checkbox'] {
  width: 24px;
  height: 24px;
}

.bonus-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
  border: 2px solid #2F80ED;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) scale(1) translate(-25%, -50%);
}


.bonus-checkbox .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.bonus-checkbox .ant-checkbox:hover .ant-checkbox-inner,
.bonus-checkbox .ant-checkbox-input:focus+.ant-checkbox-inner .bonus-checkbox .ant-checkbox-checked::after {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #36C0E7 6.68%, #4B51EA 84.84%, #4B51EA 87.36%) border-box;
  border-radius: 50em;
  border: 3px solid transparent;
}


.bonus-checkbox .ant-checkbox-checked::after {
  border-radius: 50%;
}

/* ADD BUTTON */

.gradient-border {
  border-radius: 15px;
  background: linear-gradient(90deg, #36C0E7 6.68%, #4B51EA 84.84%, #4B51EA 87.36%);
  padding: 2px;
}

.add-btn {
  background-color: #F0F8FE !important;
  border-radius: 14px;
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Certificate tag */
.certificate-tag {
  background-color: #F091AA;
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.002em;
  color: #FFFFFF;
  padding: 8px 16px;
}

.certificate-tag .anticon.anticon-close.ant-tag-close-icon {
  margin-left: 25px;
  color: #FFFFFF;
  font-size: 16px;
}



/* ----RADIO BUTTON-- */
.ant-radio-button-wrapper {
  box-sizing: border-box;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  align-items: center;
  letter-spacing: 0.002em;
  color: #8A929E;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3F5F9;
  border-radius: 15px !important;
  border: 2px solid transparent;
}

.ant-radio-button-wrapper:first-child {
  border: 2px solid transparent
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #2F80ED;
  background-color: #F0F8FE;
  border: 2px solid #2F80ED;
}

/* ---------BOOKING-FORM---------------*/

.bookings-wrapper {
  padding: 20px;
  background-color: #F3F5F9;
  border-radius: 15px;
  overflow: auto;
  touch-action: none;
}

.booking-form {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 270px;
  min-height: 270px;
}

.booking-form__header {
  border-radius: 10px 10px 0px 0px;
  height: 40px;
  padding: 0 14px;
}

.booking-form__wrapper {
  padding: 20px;
}

/* -----SWITCH------ */
.loyalty-switch {
  box-sizing: border-box;
  height: 30px;
  width: 110px;
  background: linear-gradient(#F3F5F9, #F3F5F9) padding-box,
    linear-gradient(90deg, #36C0E7 6.68%, #4B51EA 84.84%, #4B51EA 87.36%) border-box;
  border-radius: 50em;
  border: 3px solid transparent
}

.loyalty-switch .ant-switch-handle {
  top: 3px
}

.loyalty-switch .ant-switch-handle::before {
  border: 2px solid #4B51EA;
}

.loyalty-switch .ant-switch-inner {
  font-weight: 600;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.002em;
  color: #444656;
}